

.container {
    width:1210px;
    height:775px;
    margin-right:auto;
    margin-left:auto;
}

.viewer {
    width:900px;
    height:700px;
    overflow:hidden;
    float:left;
}

#form {
    width:300px;
    height:700px;
    overflow-y:scroll;
    float:right;
    background-color:#00ff00;
}

.header {
    height:75px;
    width:100%;
    background-color:#ffff00;
}